<h1>Listing regists</h1>

<table>
  <tr>
    <th>Email</th>
    <th>Username</th>
    <th>Password</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @regists.each do |regist| %>
  <tr>
    <td><%= regist.email %></td>
    <td><%= regist.username %></td>
    <td><%= regist.password %></td>
    <td><%= link_to 'Show', regist %></td>
    <td><%= link_to 'Edit', edit_regist_path(regist) %></td>
    <td><%= link_to 'Destroy', regist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Regist', new_regist_path %>
